.metrics {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;

  flex-wrap: wrap;
}

.numberChart {
  display: flex;
  flex-direction: column;

  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.numberChartTitle {
}

.numberChartValue {
  font-size: 1.25rem;
  font-weight: bold;
}

.grid {
  width: 100%;

  display: grid;
  grid-template-columns: 75% 25%;
  gap: 1rem;
}

.chart-wrapper {
  width: 100%;
  min-width: 0; /* VERY important inside grid */
}
