.navbar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 20px;

  font-size: 1.25rem;
}

.logo {
  margin-right: 40px;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  display: flex;
  text-decoration: none;
  gap: 5px;

  align-items: center;
  color: black;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.user {
  display: flex;
  flex-grow: 0;
  margin-left: auto;
}
